<config k="10" method="Datafly" suppThreshold="10"><input filename="Input/census-income_1K.data" separator="," /><output filename="Output/Output-Datafly_genVals.data" format="genVals" /><id><att index="1" /><att index="2" /></id><qid><att index="12"><map><entry cat="Female" int="0" /><entry cat="Male" int="1" /></map><vgh value="[0:1]" /></att><att index="0"><vgh value="[0:100)"><node value="[0:50)"><node value="[0:25)" /><node value="[25:50)" /></node><node value="[50:100)"><node value="[50:75)" /><node value="[75:100)" /></node></vgh></att></qid><sens><att index="41"><map><entry cat="-_50000." int="1" /><entry cat="50000+." int="2" /></map></att></sens></config>